.pet_info {display:table;clear:both;padding:0;;width:100%;margin-bottom:2em}

.pet_info ul  {float:left;}
.pet_info ul li {list-style:none;overflow:hidden;margin:0px;width:230px;font-size:0.8em}
.pet_info ul li span {font-size:1.2em;text-transform:uppercase}

single-pet #respond, .single-pet .attachment-post-thumbnail,
.tax-pet-category .attachment-post-thumbnail,
.tax-pet-status .attachment-post-thumbnail,
.tax-pet-age .attachment-post-thumbnail,
.tax-pet-color .attachment-post-thumbnail,
.tax-pet-breeds .attachment-post-thumbnail,
.tax-pet-coat .attachment-post-thumbnail,
.tax-pet-pattern .attachment-post-thumbnail,
.tax-pet-size .attachment-post-thumbnail,
.tax-pet-gender .attachment-post-thumbnail
{display:none}

.pet_info figure {
float:left;position:relative;
width:150px;height:150px;margin:0 10px 0 0;
padding:0;

}

.pet_info figure img {
 margin:0;padding:0px;width:100%;height:auto;
 display:table; -webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.3);
 box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.pet_info figcaption {
float:left;position:absolute;
bottom:-5px;left:26%;
background:#fff;padding:6px 16px 8px 6px;
-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.3);
box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.3);
font-size:12px;
text-shadow: 1px 1px 0px #ffffff;
filter: dropshadow(color=#ffffff, offx=1, offy=1);
background: #ffffff;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
 font-weight: bold  ;
border-top:1px solid #fff;
}

.pet_info figcaption .icon {
 width:16px;height:16px;
float:left;
margin-right:4px;margin-top:5%}

figcaption .adopt {background:url(img/adopt.png)}

figcaption .adopted {background:url(img/adopted.png)}

figcaption .lost {background:url(img/lost.png)}

figcaption .found {background:url(img/found.png)}



.map_image img {
-webkit-border-radius: 5px;
border-radius: 5px;
}

/* Hide featured and thumbs on some themes */
.taxonomy-pet-category .thumbnail, .taxonomy-pet-category .featured {display:none;}

.clear{clear:both;width:100%}

#new_post fieldset {border:1px solid #eee; padding:10px;margin:10px 0}
#new_post label {font-weight:bold;margin-right:1.5em}
#new_post .field {display:Table;width:50%;float:left;padding:10px 0; border-bottom:1px solid #eee}
#new_post .fieldt {display:Table;width:100%; padding:10px 0; border-bottom: 1px solid #eee}
#new_post .check {background:Red;padding:2px;margin-right:1.0em;display:inline;white-space:pre-wrap;}

#new_post .fieldt.checkboxes label
{
    display: block;
    float: left;
    padding-right: 5px;
    white-space: nowrap;
}

#new_post .fieldt.checkboxes input
{
    vertical-align: middle;
}

#new_post .fieldt.checkboxes label span
{
    vertical-align: middle;  font-weight:normal
}

#new_post .petcolor {height:100px;display:block;}

#new_post .invalid {background:#FFFFCC}

.note {background:#FFFFCC;padding:10px; display:block; border:1px dashed #999; font-size:0.8em}
